<div class="row d-flex justify-content-center">
    <div style="width: 100px; height: 100px; background-color: black;" class="text-center img-profile">

    </div>
    <table class="table table-striped">
      <tr>
        <td class="w-25">Field</td>
        <td class="w-75">Value</td>
      </tr>
      <tr>
        <td>Field</td>
        <td>Value</td>
      </tr>
      <tr>
        <td>Field</td>
        <td>Value</td>
      </tr>
      <tr>
        <td>Field</td>
        <td>Value</td>
      </tr>
      <tr>
        <td>Field</td>
        <td>Value</td>
      </tr>
    </table>
</div>